@keyframes no-transform {
  100% {
    opacity: 1;
    transform: none;
  }
}

// Menu underline on hover
@keyframes anchor-underline {
  0%, 10% {
    left: 0;
    right: 100%;
  }
  40%, 60% {
    left: 0;
    right: 0;
  }
  90%, 100% {
    left: 100%;
    right: 0;
  }
}

.has-fade {
  visibility: hidden;
}

// Header overlay animation
@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }

  1% {
    visibility: visible;
    opacity: 0;
  }

  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 300ms ease-in-out forwards;
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }

  99% {
    visibility: visible;
    opacity: 0;
  }

  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  animation: fade-out 300ms ease-in-out forwards;
  display: none;
}

.fadeIn {
  opacity: 0;
  transition: opacity 350ms ease-in-out;
}

.fadeIn.appear {
  opacity: 1;
}