@use '../util' as *;

.privacy-ul {
  list-style-type: disc;
  padding-left: rem(30);

  li {
    margin-bottom: rem(15);
  }
}

.contact {

  &__intro {
    margin-bottom: rem(60);
  }
}


.intro {
  font-size: rem(20);
  font-weight: 500;
}
